<!-- wp:template-part {"slug":"main-header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"apparel-ecommerce-store/post-header-with-background"} /-->
<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
  <!-- wp:group {"layout":{"inherit":"true"}} -->
  <div class="wp-block-group">
    <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","right":"0","bottom":"0","left":"0"}}}} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:post-content {"layout":{"inherit":"true"}} /-->

  <!-- wp:group {"layout":{"inherit":"true"}} -->
  <div class="wp-block-group">
    <!-- wp:post-comments {"className":"is-style-apparel-ecommerce-store-pro-post-comments"} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","tagName":"footer"} /-->
